fastapi
uvicorn
python-multipart
pydantic
openai
psutil
requests
aiohttp
python-dotenv
SpeechRecognition
gTTS
edge-tts
Flask==3.0.3
a2wsgi
flask-cors==4.0.1
gunicorn==22.0.0
groq>=0.11.0
httpx==0.27.2
